<div class="md:px-16 px-8">
  <button class="btn md:ml-16 ml-4 my-8" routerLink="/">Back</button>

  <div class="flex justify-center gap-16 flex-wrap items-center">
    <ng-container *ngIf="country()?.flags?.svg; else noFlagTpl"> </ng-container>
    <img
      [src]="country()?.flags?.svg"
      [alt]="country()?.flags?.alt"
      class="rounded-lg shadow-2xl flex-1 w-full max-w-2xl h-fit"
    />
    <ng-template #noFlagTpl>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-full max-w-2xl"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
        />
      </svg>
    </ng-template>

    <section class="flex-1">
      <h3 class="text-5xl font-bold pb-6">{{ country()?.name?.common }}</h3>
      <div class="flex pb-6 flex-wrap gap-8 font-extralight">
        <div class="space-y-2">
          <p>
            <span class="font-bold">Official Name: </span
            >{{ country()?.name?.official }}
          </p>
          <p>
            <span class="font-bold">Population: </span
            >{{ country()?.population }}
          </p>
          <p><span class="font-bold">Region: </span>{{ country()?.region }}</p>
          <p>
            <span class="font-bold">Sub Region: </span
            >{{ country()?.subregion }}
          </p>
          <p>
            <span class="font-bold">Capital:</span>
            {{ country()?.capital?.[0] }}
          </p>
        </div>
        <div class="space-y-2">
          <p>
            <span class="font-bold">Top Level Domain:</span>
            {{ country()?.tld }}
          </p>
          <p>
            <span class="font-bold">Currencies:</span>
            {{ currencies() }}
          </p>
          <p>
            <span class="font-bold">Languages:</span>
            {{ languages() }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <p class="font-bold flex items-center">Border Countries:</p>
        <div class="flex flex-wrap gap-4">
          <button
            *ngFor="let border of country()?.borders"
            class="btn"
            [routerLink]="['/countries', border]"
          >
            {{ border }}
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
