<div class="md:px-16 px-8">
  <button class="btn md:ml-16 ml-4 my-8" routerLink="/">Back</button>

  <div class="flex justify-center gap-16 flex-wrap items-center">
    <figure class="w-full max-w-2xl h-fit">
      <img
        [src]="country()?.flags?.svg"
        [alt]="country()?.flags?.alt"
        class="rounded-lg shadow-2xl flex-1 w-full"
      />
    </figure>

    <section class="flex-1 mb-16">
      <h3 class="text-5xl font-bold pb-6">{{ country()?.name?.common }}</h3>
      <div class="flex pb-6 flex-wrap gap-8 font-extralight">
        <div class="space-y-2">
          <p>
            <span class="font-bold">Official Name: </span
            >{{ country()?.name?.official }}
          </p>
          <p>
            <span class="font-bold">Population: </span
            >{{ country()?.population }}
          </p>
          <p><span class="font-bold">Region: </span>{{ country()?.region }}</p>
          <p>
            <span class="font-bold">Sub Region: </span
            >{{ country()?.subregion }}
          </p>
          <p>
            <span class="font-bold">Capital:</span>
            {{ country()?.capital?.[0] }}
          </p>
        </div>
        <div class="space-y-2">
          <p>
            <span class="font-bold">Top Level Domain:</span>
            {{ country()?.tld }}
          </p>
          <p>
            <span class="font-bold">Currencies:</span>
            {{ currencies() }}
          </p>
          <p class="flex flex-wrap">
            <span class="font-bold px-1">Languages: </span>
            @for(language of languages(); track $index;) {
            <span>{{ $last ? language : language + ", " }}</span>
            }
          </p>
        </div>
      </div>
      @if (country()?.borders.length) {
      <div class="flex flex-wrap gap-4">
        <p class="font-bold flex items-center">Border Countries:</p>
        <div class="flex flex-wrap gap-4">
          @for (border of country()?.borders; track border) {
          <button class="btn" [routerLink]="['/countries', border]">
            {{ border }}
          </button>
          }
        </div>
      </div>
      }
    </section>
  </div>
</div>
