<div class="card max-w-screen-md bg-base-300 shadow-xl cursor-pointer">
  <figure class="object-cover h-40 w-full">
    <img
      class="w-full"
      [ngSrc]="country.flags.png"
      width="240"
      height="180"
      alt="test"
    />
  </figure>
  <div class="card-body text-base h-52">
    <h2 class="card-title mb-1">{{ country.name.common }}</h2>
    <p class="font-extralight">
      <span class="font-semibold">Population: </span
      >{{ country.population | number }}
    </p>
    <p class="font-extralight">
      <span class="font-semibold">Region: </span> {{ country.region }}
    </p>
    <p class="font-extralight">
      <span class="font-semibold">Capital: </span>{{ country.capital || "N/A" }}
    </p>
  </div>
</div>
