<div class="card max-w-screen-md bg-base-200 shadow-xl cursor-pointer">
  <figure class="object-cover h-40 w-full">
    <img
      class="w-full"
      [ngSrc]="country.flags.png"
      width="240"
      height="180"
      alt="test"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title mb-2">{{ country.name.common }}</h2>
    <p class="">Population: {{ country.population }}</p>
    <p class="">Region: {{ country.region }}</p>
    <p class="">Capital: {{ country.capital }}</p>
  </div>
</div>
