<div class="navbar bg-base-200 md:px-16">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" routerLink="/"
      >Where in the World</a
    >
  </div>
  <div class="flex-none">
    <select
      id="themeSelector"
      class="select select-bordered select-sm w-full max-w-xs"
      (input)="onThemeChange($event)"
    >
      <option
        *ngFor="let theme of themes"
        [value]="theme"
        [selected]="theme === selectedTheme()"
      >
        {{ theme }}
      </option>
    </select>
  </div>
</div>
